.top-header{
    background:#fdf1e4;
    padding: 0 15px;
    display: flex;
    /* grid-template-columns: 2fr 3fr; */

    justify-content: space-between;
}
.top-header-contact{
    /* padding: 0 20px; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.top-header-fonts{
    display: flex;
    padding: 0;
    /* justify-content: space-around; */
    list-style-type: none;
   
}
.top-header-fonts li{
    margin: 0 5px 0;
}

.header-buttons{
    background-color: #ee871b;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 6px 18px;
}

.top-header-fonts li a{
    border-radius: 4px;
    border: solid 1px #ee871b;
    background: #fff;
    text-align: center;
    width: 24px;
    color: #191919;
    display: inline-block;
    font-size: 12px;
    padding: 2px 0;
}
.top-header-help{
    list-style: none;
    display: flex;
    padding: 0;
}.top-header-help li{
    margin-left: 20px;
}
.top-header-link{
    /* list-style: none; */
    display: flex;
}
.top-header-link-itms{
    display: flex;
    list-style: none;
    margin-top: 8px;
    margin-right: 8px;
}
.top-header-link-itms li{
    margin-right: 3px;
    padding: 6px;
    border-right: 1px solid #737373;
}
.top-header-link-itms li:nth-child(3){
    border-right:none;
}

.search-button{
    margin: 0;
    border-radius: 0 5px 5px 0 !important;
}

.search-input{
    border-radius: 5px 0 0 5px !important;
}
.search-bar{
    align-items: center;
    
}