.news-container{
    display: flex;
    background-color: lightgoldenrodyellow;
    padding: 8px;
}
.news-heading{
    min-width: fit-content;
    padding: 0 20px;
}
.news-marquee{
    max-width: 90%;
}
.card{
    width: 18rem;
    position: absolute;
    background-color: lightblue !important;
}
.card-image{
    position: absolute;
    background-color: white;
    width: 50%;
    top: -80px;
    left:25%;
    border-radius: 50%;
    /* border: 1px solid black; */
}
.card-body{
    margin-top: 20%;
}
.card-body h5{
    text-align: center;
    font-weight: 500;
    
}
.container{
    /* margin: auto; */
    margin-top: 40px;
    /* max-width: 900px; */

}
.container .cards{
    margin-top: 8em;   
    display: flex;
    justify-content: space-between;
    /* column-gap: 10px; */
}
.heading-container h2{
    margin-bottom: 60px;
}
.card-text li{
    color: white;
    /* list-style-type: */
}
.home-abt{
    max-width: 800px;
    margin: 50px auto 0;
    text-align: center;
}